html, body {
      padding-top: 60px;
      background-color: #2c2f33;
    }
table {
  height: 400px;
  width: 300px;
  background-color: #99aab5;
  border: 8px solid #99aab5;
}
.btn {
  height: 100%;
  border-radius: 0px;
  background-color: lavender;
  color: #2c2f33;
  border: 0px;
}
#textInput {
  height: 100%;
  font-size: 28px;
  background-color: #99aab5;
  border-radius: 0px;
  border: 0px;
}
.btn-blue {
  background-color: #7289da;
  color: #ffffff;
}
.btn-gray {
  background-color: lightgray;
}
.btn:hover {
  background-color: #2c2f33;
}